@page "/cart/checkout"

@if (!_isLoading)
{
    <EditForm Model="_cart" OnValidSubmit="BeginCheckoutFlow">
        <div>
            <span style="font-size:25px;" class="text-warning">Enter details and place order :</span>
            <br />
        </div>

        <div class="border mt-2">
            <div class="container row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-12">
                            <label class="col-form-label">First Name :</label>
                            <InputText @bind-Value="_cart.CartHeader.FirstName" class="form-control" />
                        </div>

                        <div class="col-12">
                            <label class="col-form-label">Last Name :</label>
                            <InputText @bind-Value="_cart.CartHeader.LastName" class="form-control" />
                        </div>

                        <div class="col-12">
                            <label class="col-form-label">Email :</label>
                            <InputText @bind-Value="_cart.CartHeader.Email" class="form-control" />
                        </div>

                        <div class="col-12">
                            <label class="col-form-label">Phone :</label>
                            <InputText @bind-Value="_cart.CartHeader.PhoneNumber" class="form-control" />
                        </div>

                        <div class="col-12">
                            <label class="col-form-label">PickUp Time</label>
                            <InputDate TValue="DateTime" @bind-Value="_cart.CartHeader.PickUpDate" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Card Number :</label>
                            <InputText @bind-Value="_cart.CartHeader.CardNumber" class="form-control" />
                        </div>

                        <div class="col-12">
                            <label class="col-form-label">CVV :</label>
                            <InputText @bind-Value="_cart.CartHeader.Cvv" class="form-control" />
                        </div>

                        <div class="col-12 pb-4">
                            <label class="col-form-label">Expiry :</label>
                            <InputText @bind-Value="_cart.CartHeader.ExpiryDate" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class=" d-none d-lg-block">
                                <div class="row text-danger">
                                    <div class="col-6">
                                        Product Details
                                    </div>

                                    <div class="col-3">
                                        Price
                                    </div>
                                    <div class="col-3">
                                        Count
                                    </div>
                                </div>
                            </div>

                            <hr />



                            @foreach (var cartDetail in _cart.CartDetails)
                            {
                                <div class="row h-100">
                                    <div class="col-6">
                                        <span style="font-size:20px">@cartDetail.Product.Name</span>
                                    </div>

                                    <div class="col-3" style="font-size:11px;">
                                        <span style="font-size:17px;">@cartDetail.Product.Price.ToString("c")</span>

                                    </div>
                                    <div class="col-3" style="font-size:11px;">
                                        <span style="font-size:17px;">@cartDetail.Count</span>
                                    </div>
                                </div>
                            }
                            <hr />

                            <div class="row">
                                <div class="col-12 text-right pr-4 text-danger">
                                    @_cart.CartHeader.Total.ToString("c") <br />
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="row">

                                <div class="col-12 ">
                                    <button type="submit" class="btn btn-success form-control ">
                                        Place order
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}