@page "/fetchdata"

@attribute [Authorize]

@inject HttpClient HttpClient

<PageTitle>Weather forecast</PageTitle>

<div class="overflow-hidden w-100">
    <h1>Weather forecast</h1>

    <p>This component demonstrates fetching data from the server.</p>

    @if (!string.IsNullOrEmpty(_token))
    {
        <p class="w-25 text-wrap">@_token</p>
    }
</div>

<div class="overflow-hidden w-100">
    @if (_hasError)
    {
        <h2>@_error</h2>
    }
</div>

@code {
    private string _token;

    private string _error = "";
    private bool _hasError = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var tokenFromDb = await HttpClient.GetFromJsonAsync<Token>("/api/GetToken/Carts");

            if (tokenFromDb.AccessToken is not null)
                _token = tokenFromDb.AccessToken;
        }
        catch (Exception exception)
        {
            _hasError = true;
            _error = exception.Message;
        }
    }
}
