@page "/fetchdata"

@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<div class="overflow-hidden w-100">
    <h1>Weather forecast</h1>

    <p>This component demonstrates fetching data from the server.</p>

    @if (!string.IsNullOrEmpty(token))
    {
        <p class="w-25 text-wrap">@token</p>
    }
</div>

@code {
    private string token;

    protected override async Task OnInitializedAsync()
    {
        token = await Http.GetStringAsync("GetToken");
    }
}
