<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <a href="/cart">
            Cart
            <i class="oi oi-cart"></i>
        </a>
        <a href="#" @onclick="BeginSignOut">Log out</a>
    </Authorized>

    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>